<h3 class="w-100 text-light text-center mb-4">
  Aproximate price for buying <span class="text-danger fw-bold">in $ </span>
</h3>
<h3 class="w-100 text-light text-center mb-4">
  <span class="text-warning">OSRS AND RS3</span> GOLD Calculator
</h3>
<div
  class="d-flex flex-lg-row flex-sm-column flex-column justify-content-center align-items-center"
>
  <ng-container *ngFor="let data of cardData; first as isFirst">
    <app-calculator-card
      [class]="isFirst ? ['me-lg-5','me-sm-0','mb-sm-5','mb-lg-0','mb-5'] : null"
      [cardData]="data"
    >
    </app-calculator-card>
  </ng-container>
</div>
